---
import { Suspense } from "react";
import Navbar from "@/components/navbar/index.astro";

import PostHog from "../components/posthog.astro";
import SEO from "../components/seo.astro";

import "@/styles/global.css";

import { Footer } from "@/components/shared/footer";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
  canonicalURL?: string;
  keywords?: string[];
  noIndex?: boolean;
}

const {
  title = "amaxa",
  description,
  image,
  type = "website",
  canonicalURL,
  keywords,
  noIndex = false,
} = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      image={image}
      type={type}
      canonicalURL={canonicalURL}
      keywords={keywords}
      noIndex={noIndex}
    />
    <PostHog />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer client:visible />
  </body>
</html>
